/* Fondo predeterminado para todas las pestañas */
body, html {
  height: 100%;
  background: radial-gradient(circle, #f5f5dc, #a3c4f3); /* Fondo global */
  font-family: 'Arial', sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tab-content-enter {
  opacity: 0;
  transform: translateY(10px);
}
.tab-content-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.tab-content-exit {
  opacity: 1;
}
.tab-content-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
