/* Fondo predeterminado para todas las pestañas */
body, html {
  height: 100%;
  background: radial-gradient(circle, #f5f5dc, #a3c4f3); /* Fondo global */
  font-family: 'Arial', sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;
}

/* Fondo específico para cada pestaña */
.tab-content-wrapper {
  padding: 20px;
  /*transition: background 0.3s ease;*/
}

.tab-content-0 {
  background: radial-gradient(circle, #f5f5dc, #a3c4f3); /* Fondo para la pestaña 1 */
}

.tab-content-1 {
  background: radial-gradient(circle, #fdd5b1, #d4a6e5);
}

/* Estilos comunes */
button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background: #0ae075;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #005ecb;
  transform: scale(1.05);
}

button:active {
  background: #190501;
}

/* Flexbox para los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

button {
  width: 200px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 1024px) {
  .button-container {
      flex-direction: column;
      gap: 15px;
  }

  button {
      width: 80%;
  }
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .tab-content-wrapper {
    padding: 15px;
  }

  button {
    width: 100%;
    font-size: 1rem;
  }
}

/* Animación para transiciones entre pestañas */
.tab-content-enter {
  opacity: 0;
  transform: translateX(100%);
}

.tab-content-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.tab-content-exit {
  opacity: 1;
  transform: translateX(0);
}

.tab-content-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
